<html>
	<head>
		{% if title %}
			<title>{{ title }} - Шутки</title>
		{% else %}
			<title>Добро пожаловать в Шутки</title>
		{% endif %}
	</head>
	<body>
		<div> Шутки: <a href="/index">Home</a></div>
		<hr>
		{% block content %}{% endblock %}
	</body>
</html>
