{% extends "base.html" %}

{% block content %}
    <h1>Привет, {{ user.username }}!</h1>
    <h3>Мои Шутки</h3>
    {% for joke in jokes %}
    <div><p><strong>{{ joke.title }}</strong></p>
    	<p>{{ joke.body }}</p>
    </div>
    {% endfor %}
{% endblock %}